.faq {
  padding-top: 220px;
  padding-bottom: 130px;

  @media (max-width: $df-tablet) {
    padding-top: 210px;
    padding-bottom: 120px;
  }

  @media (max-width: $df-mobile) {
    padding-top: 180px;
    padding-bottom: 90px;
  }
}

.faq-inner {
  @include container;
}

.faq-title {
  @include h2;
}

.faq-list {
  margin-top: 80px;
  @media (max-width: $df-tablet) {
    margin-top: 70px;
  }
  @media (max-width: $df-mobile) {
    margin-top: 50px;
  }

}

.faq-item {
  margin-top: 40px;
  border: 1px solid rgba(255, 45, 45, 0.2);
  border-radius: 4px;
}

.faq-question {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 25px 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 49px;
  align-items: center;
  border: none;
  background-color: #fff;
  cursor: pointer;

  @media (max-width: $df-tablet) {
    font-size: 32px;
    line-height: 44px;
  }
  @media (max-width: $df-mobile) {
    font-size: 28px;
    line-height: 37px;
  }
  &:after {
    content: '\002B';
    position: absolute;
    right: 30px;
    font-size: 40px;
    color: $color-accent;
  }

  &.active:after {
    content: '\2212';
    position: absolute;
    right: 30px;
    font-size: 40px;
    color: $color-accent;
  }
}

.faq-reply {
  display: none;
  padding: 0 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;

  @media (max-width: $df-tablet) {
    font-size: 16px;
    line-height: 22px;
  }
  @media (max-width: $df-mobile) {
    font-size: 14px;
    line-height: 19px;
  }
}
