.footer {
  background-color: $color-dark;
  color: $color-ligth;
  padding: 31px 0;
}
.footer-inner {
  @include container;

}
.footer-wrap {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: auto;
}


.phone {
  padding-right: 30px;
  font-size: 28px;
  line-height: 38px;
  text-decoration: none;
  color: $color-ligth;
}

.social-icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 22.5px;
}

.social-items {
  padding: 0 7.5px;


}

.social-link {
  display: block;
  width: 26px;
  height: 26px;
}
