.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding-right: 2px;
    background-color: $color-dark;
    color: $color-ligth;

}

.header-inner {
    @include container;
}

.header-wrap {
    display: flex;
    align-items: center;
}
.header-logo {
    margin-right: auto;




}



