.header {
    // padding: 16px 0;
    background-color: $color-dark;
    color: $color-ligth;

}

.header-inner {
    @include container;
}

.header-wrap {
    display: flex;
    align-items: center;
}
.header-logo {
    margin-right: auto;




}



