
.main-nav {
  @media (max-width: $df-mobile) {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    background-color: $color-dark;
  }

  ul {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;

    @media (max-width: $df-mobile) {
      display: block;
      text-align: center;
    }
  }

  li {
    margin: 0 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;

    @media (max-width: $df-mobile) {
      margin: 0;
    }
  }

  a {
    display: block;
    padding: 33px 25px;
    color: inherit;
    text-decoration: none;

    @media (max-width: $df-mobile) {
      display: block;
    }
  }

  a.active {
    background-color: $color-accent;
  }
  a:hover {
    background-color: $color-accent;
  }
}

.main-nav-open {
  @media (max-width: $df-mobile) {
    display: block;
    text-align: center;
  }
}
