.order {
  background-color: rgba(51, 51, 51, .1);
  padding: 130px 0;

  @media (max-width: $df-tablet) {
    padding: 120px 0;
    padding-left: -($indent-gap / 2);
    padding-right: -($indent-gap / 2);
  }

  @media (max-width: $df-mobile) {
    padding: 90px 0;
  }

}
.order-inner {
  @include container;
}

.order-title {
  @include h2;
  padding-bottom: 40px;

  @media (max-width: $df-mobile) {
    padding-bottom: 20px;
  }
}

.order-text {
  margin-bottom: 90px;
  margin-top: 0;
  font-size: 28px;
  line-height: 38px;
  text-align: center;

  @media (max-width: $df-mobile) {
    font-size: 18px;
    line-height: 25px;
  }
}

.form-order {
  display: flex;
  align-items: flex-end;
  margin: 0 -10px;

  @media (max-width: $df-tablet) {
    flex-wrap: wrap;
    width: auto;
  }

  @media (max-width: $df-mobile) {
    display: block;
  }
}

.form-order-field  {
  flex-basis: 33.33%;
  border: none;
  padding: 0 10px;

  @media (max-width: $df-tablet) {
    flex-basis: 50%;
    border: none;
  }

}

.form-order-field-btn {
  padding-top: 40px;
  flex-basis: 100%;


  // @media (max-width: $df-mobile) {
  //   justify-content: center;
  // }
}


.form-order-label {
  display: inline-block;
  font-size: 20px;
  line-height: 27px;
}

.form-order-input {
  width: 100%;
  padding: 35px 30px;
  font-size: 28px;
  line-height: 34px;
  border: none;
  border-radius: 6px;
}




