.portfolio {
  text-align: center;
  padding: 130px 0;


  @media (max-width: $df-tablet) {
    padding: 120px ($indent-gap / 2);
  }

  @media (max-width: $df-mobile) {
    padding: 90px ($indent-gap / 2);

  }

}

.portfolio-inner {
  @include container;
}

.portfolio-title {
  @include h2;
  padding-bottom: 100px;

  @media (max-width: $df-tablet) {
    padding-bottom: 80px;

  }

  @media (max-width: $df-mobile) {
    padding-bottom: 60px;
  }

}

.portfolio-wrap {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 120px;

  margin-left: -($indent-gap / 2);
  margin-right: -($indent-gap / 2);

  @media (max-width: $df-tablet) {
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
    margin-bottom: 80px;
  }

  @media (max-width: $df-mobile) {
    display: block;
    flex-basis: 100%;
    margin-bottom: 60px;

  }



}


.portfolio-pic-wrap {
  position: relative;
  margin: 0 ($indent-gap / 2);

  @media (max-width: $df-tablet) {
    margin-top:  ($indent-gap / 2);
    margin-bottom:  ($indent-gap / 2);

  }




}

.portfolio-pic {



}



.portfolio-pic-text {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  background-color: rgba(0, 0, 0, 0.4);
  color: $color-ligth;

}








