.portfolio {
  text-align: center;
  padding: 130px 0;

}

.portfolio-inner {
  @include container;
}

.portfolio-title {
  @include h2;
  padding-bottom: 100px;

}

.portfolio-wrap {
  display: flex;
  margin-bottom: 120px;
}



.pic-wrap {
  position: relative;
  margin: 0 10px;

}



.portfolio-pic {
  display: block;

}



.portfolio-pic-text {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 10px 0;


  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  background-color: rgba(0, 0, 0, 0.4);
  color: $color-ligth;

}
.portfolio-pic-first {
  margin-left: 0;
}

.portfolio-pic-text-first {
  margin-left: 0;
}




.btn-portfolio {


}

