.reviews {
  padding-top: 220px;
  padding-bottom: 130px;

  @media (max-width: $df-tablet) {
    padding-top: 210px;
    padding-bottom: 120px;
  }

  @media (max-width: $df-mobile) {
    padding-top: 180px;
    padding-bottom: 90px;
  }
}

.reviews-inner {
  @include container;
}

.reviews-title {
  @include h2;
}


.reviews-slider-wrap {
  display: flex;
  align-items: center;

}



.reviews-slider-item {
  display: flex;
  align-items: center;
  padding: 0 216px;
  padding-top: 80px;

  @media (max-width: $df-tablet) {
    padding: 0 20px;
    padding-top: 70px;
  }

  @media (max-width: $df-mobile) {
    display: block;
    padding: 0;
    padding-top: 50px;
  }

}


.reviews-card-avatar {
  flex-basis: 33.33%;
  padding-left: ($indent-gap / 2);
  padding-right: ($indent-gap / 2);
  border-radius: 50%;

}

.card-text-wrap {
  flex-basis: 66.66%;
  padding-left: ($indent-gap / 2);
  padding-right: ($indent-gap / 2);
}

.card-title {
  font-size: 48px;
  line-height: 65px;
  margin: 0;

  @media (max-width: $df-tablet) {
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $df-mobile) {
    padding-top: $indent-gap;
    text-align: center;
    font-size: 24px;
    line-height: 33px;

  }
}

.card-text {
  margin: 0;
  padding-top: 40px;
  font-size: 24px;
  line-height: 33px;


  @media (max-width: $df-tablet) {
    padding-top: 20px;
    font-size: 18px;
    line-height: 25px;
  }

  @media (max-width: $df-mobile) {
    padding-top: 10px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

  }
}




